name: build
on: [push, pull_request]
jobs:

  test-build-lint:
    name: Test & Build & Lint
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.16
      uses: actions/setup-go@v1
      with:
        go-version: 1.16
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1
    
    - name: go mod vendor for testdata
      run: |
        cd testdata/src/a
        go mod vendor
        cd
      
    - name: Test
      run: |
        go mod tidy -v
        go test -race ./...

    - name: Build
      run: go build cmd/gotypeconverter/main.go

    - name: generate on cli
      run: |
        cd testdata/src/a
        ../../../main -s SRC -d DST -o tmp.go .
        cd

    - name: Lint
      uses: golangci/golangci-lint-action@v2
      with:
        version: latest
        working-directory: testdata/src/a
      #  args: tmp.go a.go